<!doctype html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <title>Are we first yet?</title> 
  <style type="text/css">
  body { background: #303030; padding:0px; margin:0px; text-align:center; font-family: Arial;}
  #container { width: 600px; background: #FFF; border-right: 1px solid #414141; padding: 20px; height: 100%; text-align: center; margin: 0px auto;}
  footer { text-align: left; border-top: 1px solid #414141; margin-top: 20px;padding-top: 10px; font-size:11px;}
  #arewefirstyet { width: 600px; height: 400px; }
  a, a:visited, a:link { color: #B81912; font-weight: bold;}
  th { text-align: left;}
  #copout table { margin: 0px auto;}
  #copout table td, #copout table th { border-bottom: 1px solid #333; font-size: 0.9em; width: auto}
  #copout table td { width: 40px;}
  #copout td { text-align: center; vertical-align:middle; width: 50%}
  #copout { width: 100%; border-collapse:collapse}
  </style>
  <link rel="shortcut icon" href="/favicon.png"> 
</head> 
<body> 
<div id="container"> 
  <h1>Are We First Yet?</h1>
  <div id="arewefirstyet"></div> 
  <h2><%= first %></h2> 
  <table id='copout'>
  <tr>
    <td><a href='http://promotejs.com/' title='Promote JS! A Worldwide Call for Improving JS Documentation Visibility'><img src='http://static.jsconf.us/promotejsvs.png' height='280' width='160' alt='Promote JS!'/></a></td>
  <td><table>
    <% for (var idx in rankings) { %>
      <tr><th><%= rankings[idx].label %></th><td><%= rankings[idx].ranking+1 %></td></tr>
    <% } %>
    </table>
  </td></tr></table>
<footer>
  <p>Created by the <a href="http://jsconf.us">Pirates of JSConf</a>.</p>
</footer>
</div> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> 
<script src="./ext/flot/jquery.flot.js"></script> 
<script> 
 
function getDate(days) {
  return (new Date()).getTime() - days * 3600 * 24 * 1000;
}
 
var series = <%- data %>;
var options = {
       series: {
           lines: { show: true },
           points: { show: true }
       },
       legend: { noColumns: 2 },
       xaxis: { 
         mode: "time", 
         timeformat: "%y/%m/%d",
         minTickSize: [1, "day"]
       }
   };
 
$(function () {
  $.plot($("#arewefirstyet"), series, options);
});
</script> 
</body> 
</html>